<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: @micropost %>
  <div class="field">
    <%= f.text_area :title, placeholder: "Give your product a title" %>
    <%= f.text_area :description, placeholder: "Describe your product.." %>
    <%= f.number_field :price, placeholder: "Price your product" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>